{# This is the page that shows in production when an unrecoverable error occurs #}
{% extends "base.twig" %}

{% block content %}
    <main>
        <h1>Whoops, looks like something went wrong.</h1>
    </main>
{% endblock %}
